*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 16px;
    font-family: sans-serif;
}
body{
    box-sizing: border-box;
    position: relative;
}
/* #region main cart */
#main-cart{
    padding-bottom: 40px;
    margin: 40px auto;
    position: relative;
    width: 1200px;
}
#main-cart .title-cart p{
    color: rgba(0, 0, 0, 0.514);
    font-size: 17px;
}
#main-cart .title-cart p span{
    color: #007cba;
}
#main-cart .title-cart p i{
    font-size: 14px;
}
#main-cart .unavailble-cart{
    margin-top: 20px;
    margin-bottom: 105px;
    font-size: 15px;
    display: none;
}
#main-cart .table-cart{
    padding: 0;
    width: 1200px;
    margin: 30px auto;
    /* display: none; */
}
#main-cart .table-cart .header-table{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.128);
}
#main-cart .table-cart .header-table .item-header-table{
    padding: 20px 10px;
    font-size: 17px;
}
#main-cart .table-cart .header-table .item-header-table h2{
    font-size: 17px;
    color: rgba(0, 0, 0, 0.685);
}
#main-cart .table-cart .tbody-table{
    margin-top: 10px;
}
#main-cart .table-cart .tbody-table .item-tbody{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.128);
}
/* css img table */
#main-cart .table-cart .tbody-table .item-tbody .picture-product{
    width: 100px;
    float: left;
    overflow: hidden;
}
#main-cart .table-cart .tbody-table .item-tbody .picture-product img{
    width: 100%;
    object-fit: cover;
}
#main-cart .table-cart .tbody-table .item-tbody .quantitys-product{
    display: flex;
    align-items: center;
    justify-content: center;
}
#main-cart .table-cart .tbody-table .item-tbody .quantitys-product input{
    width: 40px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.128);
    padding: 10px 10px 10px 20px;
    font-size: 16px;
    border-radius: 5px;
}
#main-cart .table-cart .tbody-table .item-tbody .quantitys-product input:focus{
    outline: none;
}
#main-cart .table-cart .tbody-table .item-tbody .quantitys-product input:hover{
    text-align: left;
    cursor: pointer;
}
#main-cart .table-cart .tbody-table .item-tbody .bold{
    font-weight: bold;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.612);
}
#main-cart .table-cart .tbody-table .item-tbody p{
    font-size: 15px;
    font-weight: normal;
}
#main-cart .table-cart .tbody-table .item-tbody .delete-cart i{
    font-size: 25px;
    color: rgba(0, 0, 0, 0.514);
    cursor: pointer;
    opacity: 0.5;
}
#main-cart .table-cart .tbody-table .item-tbody .delete-cart .fa-trash-can:hover{
    color: #007cba;
    opacity: 1;
    transition: all 0.4s linear;
}

#main-cart .table-cart .tfoot-table{
    margin-top: 30px;
}
#main-cart .table-cart .tfoot-table .title-tfoot{
    display: flex;
    justify-content: right;
}
#main-cart .table-cart .tfoot-table .title-tfoot p{
    color: rgba(0, 0, 0, 0.612);
}
#main-cart .table-cart .tfoot-table .title-tfoot span{
    font-weight: bold;
    color: rgba(0, 0, 0, 0.612);
    margin-left: 5px;
}
#main-cart .table-cart .tfoot-table .menu-tfoot{
    display: flex;
    width: 470px;
    margin-top: 10px;
    padding-bottom: 20px;
    float: right;
    justify-content: space-between;
}
#main-cart .table-cart .tfoot-table .menu-tfoot .item-btn button{
    width: 230px;
    padding: 15px 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007cba;
    border: none;
}
#main-cart .table-cart .tfoot-table .menu-tfoot .item-btn #buy-cart:hover{
    background-color: rgb(241, 94, 40);
    transition: all 0.4s;
}
#main-cart .table-cart .tfoot-table .menu-tfoot .item-btn #continue-shopping{
    background-color: rgba(134, 134, 134, 0.167);
    color: rgba(0, 0, 0, 0.817);
}
#main-cart .table-cart .tfoot-table .menu-tfoot .item-btn #continue-shopping:hover{
    background-color: rgba(134, 134, 134, 0.507);
    color: rgba(0, 0, 0, 0.817);
    transition: all 0.4s;
}
/* #endregion main cart */
