*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 16px;
    font-family: sans-serif;
}
body{
    box-sizing: border-box;
    position: relative;
}
/* #region Main đặt hàng */
#main-cart{
    padding: 0 !important;
}
#main-cart .container-buy-cart{
    width: 1200px;
    margin: 20px auto;
}
#main-cart .container-buy-cart .title-order-cart{
    margin-bottom: 20px;
}
#main-cart .container-buy-cart .title-order-cart h1{
    color: #007cba;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: normal;
}
#main-cart .container-buy-cart .container-table-cart table{
    width: 1200px;
    text-align: center;
    border-collapse: collapse;
    overflow: hidden;
}
#main-cart .container-buy-cart .container-table-cart table, th,td{
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.128);
}
#main-cart .container-buy-cart .container-table-cart table .img-cart{
    width: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#main-cart .container-buy-cart .container-table-cart table .img-cart img{
    width: 100%;
}
#main-cart .container-buy-cart .container-table-cart table input{
    width: 40px;
    padding: 10px;
    text-align: right;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.128);
    font-size: 16px;
}
#main-cart .container-buy-cart .container-table-cart table input:focus{
    outline: none;
}
#main-cart .container-buy-cart .container-table-cart table input:hover{
    cursor: pointer;
    text-align: left;
}
#main-cart .container-buy-cart .container-table-cart table p{
    font-weight: normal;
    color: rgba(0, 0, 0, 0.780);
}
#main-cart .container-buy-cart .container-table-cart table .into-money{
    color: red;
}
#main-cart .container-buy-cart .title-info-order{
    margin: 20px auto;
}
#main-cart .container-order-cart{
    width: 1200px;
    display: flex;
}
#main-cart .container-order-cart form{
    display: flex;
    width: 1200px;
    justify-content: space-between;
}
#main-cart .container-order-cart .order-info-left{
    line-height: 2;
}
#main-cart .container-order-cart .item-input-order{
    padding-bottom: 10px;
}
#main-cart .container-order-cart .item-input-order input,textarea{
    padding: 10px;
    width: 500px;
    border: 1px solid rgba(0, 0, 0, 0.128);
    border-radius: 4px;
    font-size: 16px;
}
#main-cart .container-order-cart .item-input-order input:focus{
    outline: none;
}
#main-cart .container-order-cart .item-input-order textarea{
    height: 70px;
}
#main-cart .container-order-cart .order-info-right button{
    float: right;
    width: 200px;
    padding: 10px;
    color: #fff;
    background-color: #007cba;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}
#main-cart .container-order-cart .order-info-right button:hover{
    background-color: rgb(255, 110, 57);
    transition: all 0.4s linear;
}
#main-cart .container-order-cart .order-info-right .order{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px auto;
}
#main-cart .container-order-cart .order-info-right .order a{
    color: #007cba;

}
#main-cart .container-order-cart .order-info-right .order a:hover{
    color: rgb(255, 110, 57);
}

/* payment */
#main-cart .container-order-cart .order-info-right .payment{
    margin-top: 40px;
    border: 1px solid rgba(0, 0, 0, 0.128);
    border-radius: 5px;
    position: relative;
}
#main-cart .container-order-cart .order-info-right .payment .type-payment{
    margin-bottom: 20px;
    position: absolute;
    top: -10px;
    left: 10px;
    z-index: 1; 
    background-color: #fff;
}
#main-cart .container-order-cart .order-info-right .payment h1{
    font-weight: normal;
    font-size: 17px;
    color: #007cba;
}
#main-cart .container-order-cart .order-info-right .payment .option-payment{
    line-height: 2;
    width: 400px;
    margin: 20px auto;
    cursor: pointer;
    display: block;
    justify-content: center;
    align-items: center;
}
#main-cart .container-order-cart .order-info-right .payment .option-payment input{
    cursor: pointer;
}
#main-cart .container-order-cart .order-info-right .payment .option-payment span{
    font-weight: normal;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.639);
}
/* thanh toán bằng mã QR */
#main-cart .container-order-cart .order-info-right .payment .by-atm{
    display: none;
}
#main-cart .container-order-cart .order-info-right .payment .item-option #payment-on-delivery:checked~.by-atm{
    display: block;
}
#main-cart .container-order-cart .order-info-right .payment .code-qr{
    width: 200px;
}
#main-cart .container-order-cart .order-info-right .payment .code-qr img{
    width: 100%;
    object-fit: cover;
}
#main-cart .container-order-cart .order-info-right .payment .by-atm .note-code-atm p{
    font-size: 16px;
    color: #007cba;
}

/* #endregion Main đặt hàng */
