<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Style/cart.css">
    <link rel="stylesheet" href="../Style/index.css">
    <link rel="stylesheet" href="../Style/fontawesome-free-6.0.0-web/css/all.css">
    <title>Giỏ hàng</title>
    <link rel="shortcut icon" href="../Image/logo2im.png" type="image/x-icon">
</head>
<body>
    <!-- Phần Header -->
    <header>
        <div id="header">
            <!-- liên hệ -->
            <div class="top">
                <div class="top-left">
                    <div class="hotline">
                        <p>Hotline : <span>0399602281</span></p>
                    </div>
                    <div class="address">
                        <p>Địa chỉ : <span>108 Trần Quốc Vượng,Cầu Giấy,Hà Nội</span></p>
                    </div>
                </div>
                <div class="top-right">
                    <div class="login">
                        <p>
                            <i class="fa-solid fa-user"></i>
                            <a href="">Đăng nhập</a> hoặc <a href="">Đăng ký</a>
                        </p>
                    </div>
                </div>
            </div>
            <!-- about -->
            <div class="middle">
                <ul>
                    <li>
                        <div class="logo">
                            <img src="../Image/logo2im.png" alt="">
                        </div>
                    </li>
                    <li>
                        <div class="about">
                            <div class="about-icon">
                                <img src="../Image/car.png" alt="" width="100%">
                            </div>
                            <div class="about-text">
                                <p class="hover">Miễn phí vận chuyển</p>
                                <p class="span">Bán kính 100km</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="about">
                            <div class="about-icon">
                                <img src="../Image/email.png" alt="" class="img-icon">
                            </div>
                            <div class="about-text">
                                <p class="hover">Hỗ trợ 24/7</p>
                                <p class="span">Hotline : <span>0399602281</span></p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="about">
                            <div class="about-icon">
                                <img src="../Image/clock.png" alt="" class="img-icon">
                            </div>
                            <div class="about-text">
                                <p class="hover">Giờ làm việc</p>
                                <p class="span">T2-T7 Giờ hành chính</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="about">
                            <button>
                                <i class="fa-solid fa-cart-shopping item-cart"></i>
                                Giỏ hàng
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- thanh công cụ -->
            <div class="bottom">
                <!-- menu -->
                <div class="header-menu">
                    <ul>
                        <li>
                            <a href="../View/index.html">Trang chủ</a>
                        </li>
                        <li>
                            <a href="../View/collectionAlls">Sản phẩm</a>
                        </li>
                        <li>
                            <a href="../View/introduce.html">Giới thiệu</a>
                        </li>
                        <li>
                            <a href="../View/news.html">Tin tức</a>
                        </li>
                        <li>
                            <a href="../View/contact.html">Liên hệ</a>
                        </li>
                        <li>
                            <a href="../View/viewCart.html">Giỏ hàng</a>
                        </li>
                    </ul>
                </div>
                <!-- thanh tìm kiếm -->
                <div class="header-search">
                    <div class="header-search-input">
                        <input type="text" name="search" id="search" placeholder="Tìm kiếm...">
                    </div>
                    <div class="header-search-button">
                        <button>
                            <i class="fa-solid fa-magnifying-glass search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Phần Main -->
    <main>
        <div id="main-cart">
            <!-- tiêu đề -->
            <div class="title-cart">
                <p>
                    Trang chủ
                    <i class="fa-solid fa-chevron-right"></i>
                    <span>Giới thiệu</span>
                </p>
            </div>
            <!-- bảng thông tin đơn hàng -->
            <div class="table-cart">
                <!-- header table -->
                <div class="header-table">
                    <div style="width:19%" class="item-header-table">
                        <h2>Sản phẩm</h2>
                    </div>
                    <div style="width:28%" class="item-header-table">
                        <h2>Thông tin sản phẩm</h2>
                    </div>
                    <div style="width:10%" class="item-header-table">
                        <h2>Size</h2>
                    </div>
                    <div style="width:18%" class="item-header-table">
                        <h2>Đơn giá</h2>
                    </div>
                    <div style="width:17%" class="item-header-table">
                        <h2>Số lượng</h2>
                    </div>
                    <div style="width:18%" class="item-header-table">
                        <h2>Thành tiền</h2>
                    </div>
                    <div style="width:5%" class="item-header-table">
                        <h2>Xóa</h2>
                    </div>
                </div>
                <!-- tbody table -->
                <div class="tbody-table">
                    <form action="" method="POST">
                        <div class="item-tbody">
                            <div style="width:17%;" class="picture-product">
                                <img src="https://bizweb.dktcdn.net/thumb/medium/100/308/325/products/nho1.jpg?v=1524537026310" alt="">
                            </div>
                            <div style="width:28%;" class="names-product">
                                <p>Áo CLB Barcelona</p>
                            </div>
                            <div style="width:10%;" class="size-product">
                                <p>M</p>
                            </div>
                            <div style="width:18%;" class="prices-product">
                                <p class="bold">150.000đ</p>
                            </div>
                            <div style="width:17%;" class="quantitys-product">
                                <input type="number" value="1" id="inp-quantity">
                            </div>
                            <div style="width:18%;" class="sum-money">
                                <p class="bold">150.000đ</p>
                            </div>
                            <div style="width:5%;" class="delete-cart">
                                <i class="fa-solid fa-trash-can" title="Xóa đơn hàng"></i>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- footer table -->
                <div class="tfoot-table">
                    <div class="title-tfoot">
                        <p>Tổng tiền :</p>
                        <span>150.000đ</span>
                    </div>
                    <div class="menu-tfoot">
                        <div class="item-btn">
                            <button name="continue-shopping" title="Tiếp tục mua hàng" id="continue-shopping">Tiếp tục mua hàng</button>
                        </div>
                        <div class="item-btn">
                            <button name="buy-cart" title="Tiến hành đặt hàng" id="buy-cart">Tiến hành đặt hàng</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="unavailble-cart">
                <p>Không có sản phẩm nào trong giỏ hàng. Quay lại cửa hàng để mua sắm.</p>
            </div>
        </div>
    </main>
    <!-- Phần Footer -->
    <footer>
        <div id="footer">
            <!-- nội dung footer -->
            <div class="footer-detail">
                <div class="content-footer">
                    <!-- info cửa hàng -->
                    <div class="item-footer">
                        <div class="address-footer">
                            <div class="title-adr">
                                <h1>2IM NGHIA Store</h1>
                            </div>
                            <div class="detail-adr">
                                <ul>
                                    <li>
                                        <p>Địa chỉ : 108 Trần Quốc Vượng, Cầu Giấy, Hà Nội</p>
                                    </li>
                                    <li>
                                        <p>Email : nghiachoet263@gmail.com</p>
                                    </li>
                                    <li>
                                        <p>Số điện thoại : (+84) 399602281</p>
                                    </li>
                                    <li>
                                        <p>Giờ làm việc :T2-T7 Giờ hành chính</p>
                                    </li>
                                    <li>
                                        <p>Bản đồ : <a href="" class="view-map">Xem ngay</a></p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- truy cập nhanh -->
                    <div class="item-footer">
                        <div class="access-footer">
                            <div class="title-adr">
                                <h1>Truy cập nhanh</h1>
                            </div>
                            <div class="list-access detail-adr">
                                <ul>
                                    <li>
                                        <i class="fa-solid fa-chevron-right"></i>
                                        <a href="">Trang chủ</a>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-chevron-right"></i>
                                        <a href="">Sản phẩm</a>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-chevron-right"></i>
                                        <a href="">Tin tức</a>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-chevron-right"></i>
                                        <a href="">Liên hệ</a>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-chevron-right"></i>
                                        <a href="">Giỏ hàng</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- chính sách cửa hàng -->
                    <div class="item-footer">
                        <div class="policy-footer">
                            <div class="title-adr">
                                <h1>Chính sách</h1>
                            </div>
                            <div class="list-access detail-adr policy">
                                <ul>
                                    <li>
                                        <i class="fa-solid fa-chevron-right"></i>
                                        <a href="">Hướng dẫn mua hàng</a>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-chevron-right"></i>
                                        <a href="">Điều khoản cửa hàng</a>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-chevron-right"></i>
                                        <a href="">Hỗ trợ đổi trả</a>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-chevron-right"></i>
                                        <a href="">Tư vấn mua hàng</a>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-chevron-right"></i>
                                        <a href="">Khác</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- bản quyền -->
            <div class="copyright">
                <div class="people-design">
                    <p>
                        <i class="fa-regular fa-copyright"></i>
                        <span>Copyright by Trần Trung Nghĩa - All Rights Reserved</span> 
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- chat zalo -->
    <a href="https://chat.zalo.me/?phone=0399602281" id="linkzalo" target="_blank" rel="noopener noreferrer">
        <div class="fcta-zalo-vi-tri-nut">
            <div id="fcta-zalo-tracking" class="fcta-zalo-nen-nut">
                <div id="fcta-zalo-tracking" class="fcta-zalo-ben-trong-nut"> 
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 460.1 436.6">
                        <path fill="currentColor" 
                            class="st0" d="M82.6 380.9c-1.8-.8-3.1-1.7-1-3.5 1.3-1 2.7-1.9 4.1-2.8 13.1-8.5 25.4-17.8 33.5-31.5 6.8-11.4 5.7-18.1-2.8-26.5C69 269.2 48.2 212.5 58.6 145.5 64.5 107.7 81.8 75 107 46.6c15.2-17.2 33.3-31.1 53.1-42.7 1.2-.7 2.9-.9 3.1-2.7-.4-1-1.1-.7-1.7-.7-33.7 0-67.4-.7-101 .2C28.3 1.7.5 
                            26.6.6 62.3c.2 104.3 0 208.6 0 313 0 32.4 24.7 59.5 57 60.7 27.3 1.1 54.6.2 82 .1 2 .1 4 .2 6 .2H290c36 0 72 .2 108 0 33.4 0 60.5-27 60.5-60.3v-.6-58.5c0-1.4.5-2.9-.4-4.4-1.8.1-2.5 1.6-3.5 2.6-19.4 19.5-42.3 35.2-67.4 46.3-61.5 27.1-124.1 29-187.6 7.2-5.5-2-11.5-2.2-17.2-.8-8.4 2.1-16.7 4.6-25 7.1-24.4 7.6-49.3 11-74.8 6zm72.5-168.5c1.7-2.2 2.6-3.5 3.6-4.8 13.1-16.6 
                            26.2-33.2 39.3-49.9 3.8-4.8 7.6-9.7 10-15.5 2.8-6.6-.2-12.8-7-15.2-3-.9-6.2-1.3-9.4-1.1-17.8-.1-35.7-.1-53.5 0-2.5 0-5 .3-7.4.9-5.6 1.4-9 7.1-7.6 12.8 1 3.8 4 6.8 7.8 7.7 2.4.6 4.9.9 7.4.8 10.8.1 21.7 0 32.5.1 1.2 0 2.7-.8 3.6 1-.9 1.2-1.8 2.4-2.7 3.5-15.5 19.6-30.9 39.3-46.4 58.9-3.8 4.9-5.8 10.3-3 16.3s8.5 7.1 14.3 7.5c4.6.3 9.3.1 14 .1 16.2 0 32.3.1 48.5-.1 8.6-.1 
                            13.2-5.3 12.3-13.3-.7-6.3-5-9.6-13-9.7-14.1-.1-28.2 0-43.3 0zm116-52.6c-12.5-10.9-26.3-11.6-39.8-3.6-16.4 9.6-22.4 25.3-20.4 43.5 1.9 17 9.3 30.9 27.1 36.6 11.1 3.6 21.4 2.3 30.5-5.1 2.4-1.9 3.1-1.5 4.8.6 3.3 4.2 9 5.8 14 3.9 5-1.5 8.3-6.1 8.3-11.3.1-20 .2-40 0-60-.1-8-7.6-13.1-15.4-11.5-4.3.9-6.7 3.8-9.1 6.9zm69.3 37.1c-.4 25 20.3 43.9 46.3 41.3 23.9-2.4 39.4-20.3 
                            38.6-45.6-.8-25-19.4-42.1-44.9-41.3-23.9.7-40.8 19.9-40 45.6zm-8.8-19.9c0-15.7.1-31.3 0-47 0-8-5.1-13-12.7-12.9-7.4.1-12.3 5.1-12.4 12.8-.1 4.7 0 9.3 0 14v79.5c0 6.2 3.8 11.6 8.8 12.9 6.9 1.9 14-2.2 15.8-9.1.3-1.2.5-2.4.4-3.7.2-15.5.1-31 .1-46.5z">
                        </path>
                    </svg>
                </div>
                <div id="fcta-zalo-tracking" class="fcta-zalo-text">Chat ngay</div>
            </div>
        </div>
    </a>
    <style>
        @keyframes zoom{0%{transform:scale(.5);opacity:0}50%{opacity:1}to{opacity:0;transform:scale(1)}}@keyframes lucidgenzalo{0%{transform:rotate(-25deg)}50%{transform:rotate(25deg)}}.jscroll-to-top{bottom:100px}.fcta-zalo-ben-trong-nut svg path{fill:#fff}.fcta-zalo-vi-tri-nut{position:fixed;bottom:20px;right:20px;z-index:999}.fcta-zalo-nen-nut,div.fcta-zalo-mess
        {box-shadow:0 1px 6px rgba(0,0,0,.06),0 2px 32px rgba(0,0,0,.16)}.fcta-zalo-nen-nut{width:50px;height:50px;text-align:center;color:#fff;background:#0068ff;border-radius:50%;position:relative}.fcta-zalo-nen-nut::after,.fcta-zalo-nen-nut::before{content:"";position:absolute;border:1px solid #0068ff;
        background:#0068ff80;z-index:-1;left:-20px;right:-20px;top:-20px;bottom:-20px;border-radius:50%;animation:zoom 1.9s linear infinite}.fcta-zalo-nen-nut::after{animation-delay:.4s}.fcta-zalo-ben-trong-nut,.fcta-zalo-ben-trong-nut i{transition:all 1s}.fcta-zalo-ben-trong-nut{position:absolute;text-align:center;width:60%;height:60%;left:10px;bottom:25px;line-height:70px;
        font-size:25px;opacity:1}.fcta-zalo-ben-trong-nut i{animation:lucidgenzalo 1s linear infinite}.fcta-zalo-nen-nut:hover 
        .fcta-zalo-ben-trong-nut,.fcta-zalo-text{opacity:0}.fcta-zalo-nen-nut:hover i{transform:scale(.5);transition:all .5s ease-in}.fcta-zalo-text a{text-decoration:none;color:#fff}.fcta-zalo-text{position:absolute;top:6px;text-transform:uppercase;font-size:12px;font-weight:700;transform:scaleX(-1);transition:all .5s;line-height:1.5}.fcta-zalo-nen-nut:hover .fcta-zalo-text{
        transform:scaleX(1);opacity:1}div.fcta-zalo-mess{position:fixed;bottom:29px;right:58px;z-index:99;background:#fff;padding:7px 25px 7px 15px;color:#0068ff;border-radius:50px 0 0 50px;font-weight:700;font-size:15px}.fcta-zalo-mess span{color:#0068ff!important}
        span#fcta-zalo-tracking{font-family:Roboto;line-height:1.5}.fcta-zalo-text{font-family:Roboto}
    </style>
    <script>
        const buy_cart=document.querySelector('#buy-cart');
        buy_cart.addEventListener('click',()=>{
            window.location="../View/paymentCart.html    "
        })
    </script>
</body>
</html>